&pinctrl {

	pwm0_default: pwm0_default {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 15)>,
				<NRF_PSEL(PWM_OUT1, 0, 13)>,
				<NRF_PSEL(PWM_OUT2, 0, 17)>,
				<NRF_PSEL(PWM_OUT3, 0, 24)>,
				<NRF_PSEL(PWM_OUT4, 0, 20)>;
			nordic,invert;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 0, 15)>,
				<NRF_PSEL(PWM_OUT1, 0, 13)>,
				<NRF_PSEL(PWM_OUT2, 0, 17)>,
				<NRF_PSEL(PWM_OUT3, 0, 24)>,
				<NRF_PSEL(PWM_OUT4, 0, 20)>;
			low-power-enable;
		};
	};
	
};